{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Dashboard</title>

    <style>

        .circular--square {
            border-radius: 40px;
            border-radius: 50%;
            margin-left: -10px;
        }

        span {
            background: white;
            border-radius: 20px black;
            font-size: 25px;
            text-align: center;
            margin-right: 10px;
            border-radius: 50%;
            display: inline-block;
            padding: 10px;
        }

        .genric-btn {
            min-width: 250px;
            background: #4b6d71 !important;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class=" col-md-3 col-lg-3 card text-black card-color">

            <div class="card-header">Profile</div>

            <div class="card-body">
                {% if profile.photo %}
                    <div class="text-center">
                        <a href="{{ profile.photo.url }}" class="img-pop-up">
                            <img src="{{ profile.photo.url }}" class="circular--square" width="80" height="70"/>
                        </a>
                    </div>

                {% endif %}
                <p class="text-center">{{ request.user.get_full_name }}</p>
                <p><i class="fa fa-envelope"> {{ request.user.email }}</i></p>
                <p><i class="fa fa-phone"> {{ profile.contact }}</i></p>
                <p>Username: {{ user.username }}</p>
                <p>Gender :{{ profile.get_gender_display }}</p>
                <p>DOB: {{ profile.date_of_birth }}</p>
                <p>Blood Group: {{ profile.get_blood_group_display }}</p>
                <p>Category: {{ profile.get_category_display }}</p>

                <p>Address: {{ profile.address }}</p>
                <p>City: {{ profile.city }}</p>
                <p>State: {{ profile.state }}</p>

            </div>
        </div>


        <div class="col-md-6 col-lg-6 mt-5 text-center">
            <div class="container">
                

                <a href="{% url 'visitor:my_schedules' %}" class="genric-btn success circle arrow mt-5">Upcoming Visits<i
                        class="fa fa-home ml-2"></i></a>

                <a href="{% url 'visitor:past_visitor' %}" class="genric-btn success circle arrow mt-3">Past
                    Visitors <i class="fa fa-bar-chart ml-2"></i></a>

                <a href="{% url 'visitor:schedule' %}" class="genric-btn success circle arrow mt-3"> Schedule new
                    Visit <i class="fa fa-file-text-o ml-2"></i></a>

                <a href="{% url 'visitor:update_visitor' %}"  class="genric-btn success circle arrow mt-3" onclick="window.open(this.href, 'mywin',
                                                               'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                                               target="_blank">Add Visitor<i class="fa fa-plus-square-o ml-2"></i></a>

            </div>

        </div>

        <div class=" col-md-3 col-lg-3 card text-black card-color">
            <div class="card-header">Approved Schedule</div>
            <div class="card-body pre-scrollable">
                {% for vr in upcoming_visitor %}
                    <dl>
                        <dt>Name:<a href="{% url 'visitor:schedule_edit' sch_id=vr.id %}">{{ vr.visitor_id }}</a></dt>
                        <dd>Purpose: {{ vr.purpose }}</dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}