{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Dashboard</title>

    <style>

.circular--square {
border-radius: 40px;
  border-radius: 50%;
  margin-left:-10px;
}
span {
  background: white;
  border-radius: 20px black;
  font-size: 25px;
  text-align: center;
  margin-right: 10px;
  border-radius:50%;
  display:inline-block;
  padding:10px;
}

</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class=" col-md-3 col-lg-3 card text-white bg-info mb-3 "
             style="max-width: 20rem; margin-top:3rem; margin-left:2rem;">
            <div class="card-header">Profile</div>

            <div class="card-body">
                {% if profile.photo %}

                    <center>
                        <div class="col-md-4 ">
                            <a href="{{ profile.photo.url }}" class="img-pop-up">
                                <img src="{{ profile.photo.url }}" class="circular--square" width="80" height="70"/>
                            </a>
                        </div>
                    </center>
                {% endif %}
                <center><p><b>{{ request.user.get_full_name }}</b></p></center>
                <p><i class="fa fa-envelope"> {{ request.user.email }}</i></p>
                <p><i class="fa fa-phone">{{ profile.contact }}</i></p>
                <p>Username: {{ user }}</p>
                <p>{{ profile.get_type_display }}</p>

                {% if profile.photo %}<p>Gender :{{ profile.get_gender_display }}</p> {% endif %}
                {% if profile.photo %}<p>DOB: {{ profile.date_of_birth }}</p> {% endif %}
                {% if profile.photo %}<p>Blood Group: {{ profile.get_blood_group_display }}</p> {% endif %}
                {% if profile.photo %}<p>Category: {{ profile.get_category_display }}</p> {% endif %}

                {% if profile.photo %}<p>Address: {{ profile.address }}</p> {% endif %}
                {% if profile.photo %}<p>City: {{ profile.city }}</p> {% endif %}
                {% if profile.photo %}<p>State: {{ profile.state }}</p> {% endif %}

            </div>
        </div>


        <div class="col-6">
            <br><br>
            <i style=" background:;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  border-radius:50%;
  display:inline-block;
  padding:10px;">
                <div style="width:200px; height:200px;" class="text-center "><a href="{% url 'visitor:past_visitor' %}">Past
                    Visitors</a>
                </div>
            </i>
            <i style=" background: ;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  border-radius:50%;
  display:inline-block;
  padding:10px;">
                <div style=" width:200px; height:200px;" class=""><a href="{% url 'visitor:schedule' %}"> Schedule new
                    Visit</a></div>
            </i></div>

        <div class=" col-md-2 col-lg-3 card text-white bg-info mb-3 "
             style="max-width: 20rem; margin-top:3rem; margin-left:2rem;">
            <div class="card-header">Approved Schedule</div>
            <div class="card-body">
                {% for vr in upcoming_visitor %}
                    <dl>
                        <dt>{{ vr.visitor_id }}</dt>
                        <dd> {{ vr.purpose }}</dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}