{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Past Visitors</title>
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 1px;
            width: 100%;
            border: 5px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        .bg-info {
            background-color: #4cd3e3 !important;
        }


    </style>
{% endblock %}

{% block body %}
    <br>


    <h1 class="text-center"> My schedules</h1>
    <br>
    <div style="overflow-x:auto;">

        <table class="table">
            <tr>
                <thead class="bg-info">
                <th> Name</th>
                <th>Purpose</th>
                <th>Allowed Device</th>
                <th>In- Time</th>
                <th>Out- Time</th>
                <th>Allowed Days</th>
                <th>Meeting Place</th>
                <th>Approve Status</th>
                <th>Edit</th>
                </thead>
            </tr>
            {% for vr in my_schedule %}
                <tr>
                    <td>{{ vr.visitor_id.name }}</td>
                    <td>{{ vr.purpose }}</td>
                    <td>{{ vr.allowed_devices }}</td>
                    <td>{{ vr.in_time }}</td>
                    <td>{{ vr.out_time }}</td>
                    <td>{{ vr.allowed_days }}</td>
                    <td>{{ vr.meeting_place }}</td>
                    {% if vr.approve == True %}
                        <td>Approved</td>
                    {% else %}
                        <td>Pending Approval</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'visitor:schedule_edit' sch_id=vr.id %}"><i class="fa fa-edit"></i> </a>
                        <a href="#" class="ml-2" style="color: indianred"><i class="fa fa-remove"></i></a>
                    </td>

                </tr>
            {% endfor %}
        </table>

{% endblock %}