{% extends 'base.html' %}
{% block title %}
    <title xmlns="http://www.w3.org/1999/html">VisitorEntry</title>
    <style>
        p {
            font-family: 'Montserrat', monospace;
            font-size: 15px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
{% endblock %}
{% block head %}

{% endblock %}

{% block body %}

    <div class="container">
        <div class="float-right mt-5">
            <video height="250px" width="250px"></video>
        </div>

        <div class="float-left" style="padding-top: 40px; padding-bottom: 150px">
            <ul>
                {% for profile in profile %}
                    <div class="card" style="width:400px">
                        {% if profile.photo %}
                            <div class="col-md-4 float-right">
                                <img src="{{ profile.photo.url }}" style="height:330px; width:370px;">
                            </div>
                        {% else %}
                            <canvas id="snapshot" width="250px" height="250px"></canvas>
                            <input type="number" hidden id='pk' value={{ profile.id }}>

                            <div class="controls">
                                <a href="#" id="delete-photo" title="Delete Photo" class="disabled"><i
                                        class="material-icons">delete</i></a>
                                <button type="button" id="take-photo" title="Take Photo"><i class="material-icons">Capture</i>
                                </button>
                                <a href="#" id="save-photo" title="Save Photo"
                                   class="disabled"><i
                                        class="material-icons">Save</i></a>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <h4 class="card-title">Indian Space Research Organisation</h4>
                            <p class="card-text">Regional Remote Sensing Center West</p>
                            <p class="card-text"><b>Name:</b> {{ profile.name }}</p>
                            <p class="card-text"><b>Phone:</b>{{ profile.phone }}</p>
                            {% for schedule in schedul %}
                                <p class="card-text"><b>Purpose:</b> {{ schedule.purpose }}</p>
                                <p class="card-text"><b>Allowed Devices:</b> {{ schedule.allowed_devices }}</p>
                                <p class="card-text"><b>In-Time:</b> {{ schedule.in_time }}</p>
                                <p class="card-text"><b>Out-Time:</b> {{ schedule.out_time }}</p>
                            {% endfor %}
                        </div>

                    </div>
                    </ul>
                    </div>

                    </div>


                {% endfor %}

    {% block script %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        const vid = document.querySelector('video');
        navigator.mediaDevices.getUserMedia({video: true}) // request cam
            .then(stream => {
                vid.srcObject = stream; // don't use createObjectURL(MediaStream)
                return vid.play(); // returns a Promise
            })
            .then(() => { // enable the button
                const btn = document.getElementById('take-photo');
                var snap;
                btn.disabled = false;
                btn.onclick = e => {
                    snap = takeASnap();
                };
                const bt = document.getElementById('save-photo');
                bt.onclick = f => {
                    var pk = document.getElementById('pk');
                    pk = pk.value;
                    $.ajax({
                        type: "POST",
                        url: "/user/home/guard_homepage/",
                        data: {
                            photo:snap,
                            pk: pk,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },

                    });
                };
            });


        function takeASnap() {
            const canvas = document.querySelector('canvas'), // create a canvas
                context = canvas.getContext('2d'); // get its context

            var width = vid.videoWidth, // set its size to the one of the video
                height = vid.videoHeight;
            if (width && height) {

                // Setup a canvas with the same dimensions as the video.
                canvas.width = width;
                canvas.height = height;

                // Make a copy of the current frame in the video on the canvas.
                context.drawImage(vid, 0, 0, width, height);

                // Turn the canvas image into a dataURL that can be used as a src for our photo.
                return canvas.toDataURL('image/png');
            }
        }

        {#function saveImage(snap) {#}
        {#         alert('hi');#}
        {#        $.ajax({#}
        {#            url: "/user/home/guard_homepage/",#}
        {#            type: "POST",#}
        {#            data: snap,#}
        {#        });#}
        {#    }#}


        {#function download(blob) {#}
        {#    // uses the <a download> to download a Blob#}
        {#    let a = document.createElement('a');#}
        {#    a.href = URL.createObjectURL(blob);#}
        {#    a.download = 'screenshot.jpg';#}
        {#    document.body.appendChild(a);#}
        {#    a.click();#}
        {#}#}
    </script>
        {% endblock %}
{% endblock %}