<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'custom/main.css' %}">

    {% block title %}
        <title>Base</title>
    {% endblock %}

    <style>
        a {
            color: skyblue;
        }

        a:hover {
            color: yellow;
        }

        li {
            list-style-type: none;
            display: inline;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="/media/profile_photo/logo.png" style="width:40px; height:40px;">
        RRSCW
    </a>
    {% if request.user.is_authenticated %}
        <ul class="navbar-right">
            <li ><a href="{% url 'logout' %}">
                <i class="fa fa-power-off"></i>
                Logout</a></li>
            <li ><a href="{% url 'password_reset' %}">
                <i class="fa fa-group"></i>
                Reset Password</a></li>
           >
        </ul>


    {% else %}
        <ul class="navbar-right">
            <li ><a href="{% url 'visitor:register' %}">
                <i class="fa fa-power-off"></i>
                Register</a></li>
            <li><a href="{% url 'login' %}">
                <i class="fa fa-male"></i>
                Login</a></li>
        </ul>
    {% endif %}

</nav>
<nav class="navbar navbar-dark bg-dark ">
    {% if request.user.is_authenticated %}
        <ul class=" navbar-left">
            <li style="padding-right: 5px;: "><a href="{% url 'visitor:dashboard' %}">Dashboard</a></li>
            <li style="padding-right: 5px;: "><a href="{% url 'visitor:view_profile' %}">View Profile </a></li>
            <li><a href="{% url 'visitor:schedule' %}">Create Schedule </a></li>
        </ul>

        </ul>
        <ul class="navbar-right">
            <li>Hello {{ request.user.get_full_name }}</li>
        </ul>
    {% endif %}


</nav>


{% block body %}

{% endblock %}

<footer class="mt-5">

</footer>
</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src={% static 'qrcode/qrcode.js' %}></script>

{% block script %}
{% endblock %}
</html>
