<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block title %}
        <title>Base</title>
    {% endblock %}

<style>
    a {
        color: skyblue;
    }
</style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="{% url 'home' %}">
        RRSCW
    </a>

        <div>
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <i class="fa fa-power-off"></i>
                    Logout</a>
                <a href="{% url 'password_reset' %}">
                    <i class="fa fa-group"></i>
                    Reset Password</a>
                <!--a href="">
                    <i class="fa fa-male"></i>
                    My Profile</a-->
                <p style="color: white"> {{ request.user.get_full_name }}</p>
                <p>
                    <a href="{% url 'visitor:dashboard' %}">Dashboard</a>
                    <a href="{% url 'visitor:view_profile' %}">View Profile  </a>

            <a href="{% url 'visitor:schedule' %}">Create Schedule </a></p>
            <a href="#"></a>


            {% else %}
                <a href="{% url 'visitor:register' %}">
                    <i class="fa fa-power-off"></i>
                    Register</a>
                <a href="{% url 'login' %}">
                    <i class="fa fa-male"></i>
                    Login</a>
            {% endif %}
        </div>
</nav>


{% block body %}

{% endblock %}

</body>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% block script %}
{% endblock %}
</html>
