{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
    <style>
        p {
            font-family: "Poppins", sans-serif;
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <a class="genric-btn success-border radius mb-3 float-right" href="{% url 'visitor:update_profile' %}">Update
            Profile</a>

        {% if profile.photo %}

            <img class=" img-popup img-thumbnail mx-auto float-right" src="{{ profile.photo.url }}"
                 style="width:200px; height: 200px;">

        {% endif %}

        <p>
        <h3>{{ user.get_full_name }}</h3></p>
        <p><h5>{{ profile.get_designation_display }}</h5></p>
        <p><i class="fa fa-envelope" style="font-size:20px">  {{ user.email }}</i></p>
        <p><i class="fa fa-phone" style="font-size:20px">  {{ profile.contact }}</i></p>
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h4>Individual Information</h4>
                <p>Username:{{ user }}</p>
                <p>
                <p>Date of Birth</p><h5>:{{ profile.date_of_birth }}</h5></p>
                <p>
                <p>Gender:</p><h5>{{ profile.get_gender_display }}</h5></p>
                <p>
                <p>Blood Group: </p><h5>{{ profile.get_blood_group_display }}</h5></p>
                <p>
                <p>Category: </p><h5>{{ profile.get_category_display }}</h5></p>

            </div>
            <div class=" col-md-6 ">
                <h3>Location</h3>
                <p>
                <p>Address: </p><h5>{{ profile.address }}</h5></p>

                <p>
                <p>City: </p><h5>{{ profile.city }}</h5></p>

                <p>
                <p>State: </p><h5>{{ profile.state }}</h5></p>

            </div>

        </div>
    </div>
{% endblock %}