{% extends 'base.html' %}

{% load static %}
{% block title %}
    <title>VisitorEntry</title>
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

    <div class="container text-center mt-5">
        <video id="preview"></video>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'custom/instascan.min.js' %}"></script>
    <script type="text/javascript">
        let scanner = new Instascan.Scanner({video: document.getElementById('preview')});
        scanner.addListener('scan', function (content) {
            alert(content);
            $.ajax({
                type: "POST",
                url: "/user/scan/qr/",
                data: {
                    id: content,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function () {
                    window.location.href = "/user/home/guard_homepage/visitor_entry/" + content;
                }

            });
        });
        Instascan.Camera.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                scanner.start(cameras[0]);
            } else {
                console.error('No cameras found.');
            }
        }).catch(function (e) {
            console.error(e);
        });
    </script>
{% endblock %}
