{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    <title>Update</title>
    <style>
    .form-control
    {
        border:none;!important;
            background:#f9f9ff;!important;
            font-family: "Poppins", sans-serif;!important;
    }


        select {
            display: inline-flex;
            line-height: 40px;
            border: none;
            background: #f9f9ff;
            padding: 0 20px;
            border-collapse: unset;
            height: 40px;
        }

        .errorlist li {
            color: red;
        }

    </style>
{% endblock %}
{% block body %}

    <div class="container" style="padding-top: 50px;padding-bottom: 100px;margin-left: auto;">
        {% if flag == 1 %}
            <p> Visitor Added Successfully!</p>
            <button class="genric-btn success-border radius" onclick="window.opener.location.reload(); window.close()"
                    style="margin-left: 150px">Close
            </button>
        {% else %}
            <h1 class="h3 mb-30 font-weight-heavy">Add Visitor</h1>
            <form method="post">

                {% csrf_token %}
                {% for field in update_form %}
                    <p>
                        <bold>{{ field.errors }}</bold>
                    </p>
                    <div>
                        <div class="col-lg-10 col-md-10">
                            <div class="mt-10">
                                <div class="row">
                                    <div class="col-md-2 col-lg-2 text-capitalize mt-8 text-dark ">
                                        {{ field.label_tag }}
                                    </div>

                                    <div class="col-md-6 col-lg-6 ">
                                        {% if field.label == 'Address' %}
                                        {% render_field field class="single-textarea" placeholder=field.label %}
                                        {% else %}
                                        {% render_field field class="single-input" placeholder=field.label %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="mt-10 text-center">
                    <button type="submit" class="genric-btn success-border radius" style="margin-right: 26px">Update
                    </button>
                </div>
            </form>
            </div>
        {% endif %}
{% endblock %}